$primary: #090809;
$secondary: #26282a;
$silver: #878f99;
$white: #ffffff;
$red: #bc0f0f;
$blue: #2879bc;

// Spell Schools
$abjuration: #429ff0;
$conjuration: #eea13d;
$divination: #6fa6c3;
$enchantment: #bc79b0;
$evocation: #9c5555;
$illusion: #b892fb;
$necromancy: #75e029;
$transmutation: #c6955d;
