@import "../../stylesheets//base";

.container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 520px;
  min-width: 520px;
  width: 520px;

  .content {
    > * {
      border-radius: 10px;
      box-shadow: -1px 5px 10px $primary;
    }

    > :not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
